.MovieRow {
  background-color: rgba(43, 43, 43, 0.5);
  border-radius: 6px;
  width: 180px;
  height: 330px;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px;
  font-size: 12px;
  overflow: scroll;
}
.MovieRow:hover {
  background-color: #333;
  font-weight: bold;
  cursor: pointer;
}
img {
  display: block;
  width: 160px;
  height: 230px;
}
.rating {
  margin: 10px 0;
}
.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.year {
  margin-top: 5px;
}
